#projects {
  background-color: $white-color;
  margin-top: -15rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(phone) {
        margin-bottom: 4rem;
      }

      &.inverted {
        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
        flex-direction: row-reverse;
      }
    }

    &__text {      
      @include respond(phone) {
        margin-bottom: 1.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 1.5rem;
      }

      &-title {
        font-weight: bold;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }
  }
}
