// COLORS
$primary-color: #d7dedf;
$secondary-color: #bbc7c8;

$accent-color: #613A3A;
$accent-highlight-color: #814d4d;

$white-color: #fff;

$grey-color: #101419;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
