.footer {
  position: sticky;
  bottom: 0;
  background-color: $grey-color;
  color: $white-color;
  z-index: 199;

  @include respond(phone) {
    border: 0px;
  }

  &__text {
    font-family: 'Source Sans Pro', sans-serif;
    color: darken($white-color, 50%);
    font-size: 1.3rem;
    margin-top: 2rem;
  }
}

.timeline-section {
  padding: 3px;
  background-clip: content-box;
  background-color: transparent;
  border-radius: 10px;
}


.timeline-img {
  height: '100px';
  width: '100%';
  object-fit: 'cover';
  object-position: '40% 50%';
}

.section-label {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.section {
  height: 10vh;
  width: 100%;
  background-color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.major-lines, .minor-lines {
  background: linear-gradient(to right, $white-color 1px, transparent 1px);
  margin-left: 5px;
}

.minor-lines {
  height: 10px;
  background-size: 10px;
}

.major-lines {
  height: 5px;
  background-size: 50px;
}

#scrubber {
  position: absolute;
  z-index: 200;
  margin-left: -1px;
}

#line {
  top: 0;
  left: 3px;
  height: 10vh;
  width: 4px;
  background: red;
  position: absolute;
}

#handle {
  top: -15px;
  width: 10px;
  height: 1vh;
  background: red;
  position: relative;
}
#handle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid red;
}